$white: #ffffff;
$black: #000000;
$font: #464646;
$primary-color: #437ea6;
$secondary-color: #c92e34;
$highlight-color: #1c94b9;
$dark-color: #445e8c;
$third-color-one: #8f93a0;
$third-color-two: #fdc759;
$third-color-three: #92ba61;
